<include file="./Public/common/header.html"/>
<link href="__CSS__/content.css" rel="stylesheet" type="text/css"/>
<link href="__CSS__/icon.css" rel="stylesheet" type="text/css"/>
<link href="__CSS__/pagination.css" rel="stylesheet" type="text/css"/>
<section>
    <div class="section">
        <div class="leftwrap">
            <div class="leftguanggao"></div>

            <div class="jierihuod">
                <div class="value_tags"><a><img style="width: 50px" src="__IMG__/richang.png"/></a>
                    <volist name="hotTypes" id="hotType">
                        <a class="hot_type" href="javascript:void(0)" data-id="{$hotType.id}">{$hotType.name}</a>
                        <div class="hot_product" style="display: none;" id="hot_{$hotType.id}">
                            <volist name="hotType['list']" id="article">
                                <li><a href="/Article/detail/id/{$article.id}" target="_blank">
                                    <img style="height: 122px;width: 118px" src="{$article.cover}"/> <span
                                        class="black">{$article.title}</span>
                                    <span class="red">{$article.source_price}</span></a></li>
                            </volist>
                        </div>
                    </volist>
                </div>
                <ul class="shangppin">
                    <div class="clear"></div>
                </ul>
                <script>
                    $(function () {
                        var content = $('.hot_product').eq(0).html();
                        $(".shangppin").prepend(content);
                        $('.hot_type').click(function () {
                            var id = "#hot_" + $(this).data('id');
                            var content = $(id).html() + "";
                            $(".shangppin li").remove();
                            $(".shangppin").prepend(content);
                        });
                    })
                </script>
            </div>
            <div class="zhiding">
                <div class="listTitle"><span class="redicon">置顶</span>
                    <h4 class="itemName"><a href="#" target="_blank">爆料赏金计划[第六期]活动开启<span class="red">年货征集/天猫双倍奖励</span>
                    </a></h4>
                </div>
            </div>
            <volist name="articleList.data" id="article">
                <div class="list">
                    <div class="listTitle"><a href="#" class="grayicon">{$article.countryname}</a>
                        <h4 class="itemName"><a href="/Article/detail/id/{$article.id}" target="_blank">{$article.title}
                            <if condition="$article['source_price'] gt 0">
                                <span class="red">{$article.source_price}元</span>
                            </if>
                        </a></h4>
                        <div class="clear"></div>
                    </div>
                    <a href="/Article/detail/id/{$article.id}" target="_blank" class="picLeft" title="">
                        <img src="{$article.cover}" alt="" height="190px" width="190px"> </a>
                    <div class="listRight">
                        <div class="lrTop"><span class="lrTime">14:39</span> <span> 标签：
                            <volist name="article.tags" id="tag">
                                <a href="javascript:void(0)"> {$tag.tag_name} </a>
                            </volist>
                             </span>
                        </div>
                        <div class="lrInfo">
                            <?php echo(strLL($article['content'],50)); ?>  <a href="/Article/detail/id/{$article.id}" target="_blank">阅读全文</a></div>
                        <div class="lrBot">
                            <a data-id="{$article.id}" href="javascript:void(0)" class="good">
                            <span class="scoreTotal"><b>值</b>
                            <em>{$article.worth}</em></span>
                                <span class="scoredInfo" setGood="{$article.setGood}">已打分</span>
                                <span class="scoreAnimate">+1</span>
                            </a>
                            <a data-id="{$article.id}" href="javascript:void(0)" class="bad">
                                <span class="scoreTotal">不值 <em>{$article.not_worth}</em></span>
                                <span class="scoredInfo" setGood="{$article.setGood}">已打分</span>
                                <span class="scoreAnimate">+1</span>
                            </a>
                            <a data-id="{$article.id}" href="javascript:void(0)" class="fav" title="收藏">
                                <i class="icon-collect"></i><em>{$article.collect_num}</em></a>
                            <a href="#" class="comment" title="评论" target="_blank">
                                <i class="icon-comment"></i><em>{$article.comment_num}</em></a>
                            <if condition="!empty($article['source_url'])">
                                <div class="botPart">
                                    <div class="buy"><a href="{$article.source_url}" target="_blank">直达链接<i>&gt;</i></a>
                                    </div>
                                    <a href="#" class="mall">{$article.source_name}</a></div>
                            </if>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </volist>

            <div class="green-black"> {$articleList['page']}</div>
            <script>
                $(function () {
                    $('.page').live('click', function () {
                        var url = $(this).data('href');
                        location.href = url;
                    });
                    $('.good').live('click', function () {
                        var pid = $(this).data('id');
                        $a=$(this);
                        $.ajax({
                            url: "/Ajax/isWorth",
                            data: {pid: pid, worth: 1},
                            type: 'POST',
                            dataType: 'json',
                            success: function (msg) {
                                if (msg.status == 1) {
                                    $a.find('.scoreAnimate').show(500).hide(500);
                                    setTimeout(function(){
                                        var i=$a.find('em').html();
                                        $a.find('em').html(parseFloat(i)+1);
                                        $a.parent('.lrBot').find('.scoredInfo').attr('setGood','1');
                                    },1000);

                                }
                            },
                            error: function (ret) {
                                alert(ret.responseText);
                            }
                        });
                    }).hover(function(){
                        var set=$(this).find('.scoredInfo').attr('setGood');
                        if(set==1){
                            $(this).find('.scoredInfo').show();
                        }
                    },function(){
                        $(this).find('.scoredInfo').hide();
                    });
                    $('.bad').live('click', function () {
                        var pid = $(this).data('id');
                        $a=$(this);
                        $.ajax({
                            url: "/Ajax/isWorth",
                            data: {pid: pid,worth:0},
                            type: 'POST',
                            dataType: 'json',
                            success: function (msg) {
                                if (msg.status == 1) {
                                    $a.find('.scoreAnimate').show(500).hide(500);
                                    setTimeout(function(){
                                        var i=$a.find('em').html();
                                        $a.find('em').html(parseFloat(i)+1);
                                        $a.parent('.lrBot').find('.scoredInfo').attr('setGood','1');
                                    },1000);
                                }
                            },
                            error: function (ret) {
                                alert(ret.responseText);
                            }
                        });
                    }).hover(function(){
                        var set=$(this).find('.scoredInfo').attr('setGood');
                        if(set==1){
                            $(this).find('.scoredInfo').show();
                        }
                    },function(){
                        $(this).find('.scoredInfo').hide();
                    });;
                    $('.fav').live('click', function () {
                        var pid = $(this).data('id');
                        $a=$(this);
                        $.ajax({
                            url: "/Ajax/collect",
                            data: {pid: pid},
                            type: 'POST',
                            dataType: 'json',
                            success: function (msg) {
                                if (msg.status == 1) {
                                    var i=$a.find('em').html();
                                    $a.find('em').html(parseFloat(i)+1);
                                }
                                else{
                                    alert(msg.msg);
                                }
                            },
                            error: function (ret) {
                                alert(ret.responseText);
                            }
                        });
                    });
                })
            </script>
        </div>
        <div class="rightwrap">
            <div class="rightPanel">
                <div class="userInfo"><a href="#" class="userPic" target="_blank">
                    <img src="__IMG__/default_small.png" alt="头像"></a>
                    <div class="userRight">
                        <if condition="empty($p_uid)">
                            <p><a class="zhiyou_login">登录</a>，发现更多精彩</p>
                            <else/>
                            <div> Hi <em>你好</em></div>

                            <a href="#" title="值友幸运屋" target="_blank">值友幸运屋</a> &nbsp;&nbsp;
                            <a href="#" title="新手入门" target="_blank">新手入门</a>
                    </div>
                    <div class="scoreBox"><a class="signScore" target="_blank">签到领积分</a>
                        <a class="scoreExchange" href="#" target="_blank">积分兑换</a>
                        </if>

                    </div>
                </div>
            </div>

            <!-- 分类导航开始 -->
            <div class="rightPanel">
                <div class="mult-nav"><span class="commodity-nav-title mult-nav-hover">分类导航</span></div>
                <div class="commodity-nav" style="display: block;">
                    <volist name="productTypes" id="item">
                        <a target="_blank" href="#"><span><i class="icon-diannaoshuma"></i>{$item.name}</span></a>
                    </volist>

                </div>


            </div>



        </div>

    </div>
    <div class="clear"></div>
</section>


<include file="./Public/common/footer.html"/>